body {
    background-color:#ffb950;
    font-family: 'Mansalva', cursive;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}

h1 {
    color: #22026d;
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    text-align: center;

}

h2 {
    color: #22026d;
}

p {
    font-size: ;
    line-height: ;
    color: #22026d;
}

img {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    color: #22026d;
}

a:link {
    color: rgba(76, 0, 128, 0.842);
  }

  a:visited {
    color: #22026d;
  }

  a:hover {
    color: hotpink;
  }

  